doc/xml/umbrello-diagrams.dtd


<!-- 
========= umbrello specific ========= 
    XMI_FILE_VERSION 1.6.3
=====================================  
-->
<!ENTITY % ids
           'xmi.id CDATA #IMPLIED localid CDATA #IMPLIED'>

<!ENTITY % coordinates
          'height CDATA #IMPLIED
          width CDATA #IMPLIED
          x CDATA #IMPLIED
          y CDATA #IMPLIED'>

<!ELEMENT diagrams ANY >
<!ATTLIST diagrams
>
<!ELEMENT diagram ANY >
<!ATTLIST diagram
          %ids;
          showopsig CDATA #IMPLIED
          linecolor CDATA #IMPLIED
          snapx CDATA #IMPLIED
          showattribassocs CDATA #IMPLIED
          snapy CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          showattsig CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          isopen CDATA #IMPLIED
          showpackage CDATA #IMPLIED
          showpubliconly CDATA #IMPLIED
          showstereotype CDATA #IMPLIED
          name CDATA #IMPLIED
          font CDATA #IMPLIED
          canvasheight CDATA #IMPLIED
          canvaswidth CDATA #IMPLIED
          snapcsgrid CDATA #IMPLIED
          showgrid CDATA #IMPLIED
          showops CDATA #IMPLIED
          griddotcolor CDATA #IMPLIED
          backgroundcolor CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          zoom CDATA #IMPLIED
          documentation CDATA #IMPLIED
          showscope CDATA #IMPLIED
          snapgrid CDATA #IMPLIED
          showatts CDATA #IMPLIED
          type CDATA #IMPLIED
>
<!ELEMENT widgets ANY >
<!ATTLIST widgets
>
<!ELEMENT classwidget ANY >
<!ATTLIST classwidget
          %ids;
          %coordinates;
          linecolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          showoperations CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          showpubliconly CDATA #IMPLIED
          showpackage CDATA #IMPLIED
          showattsigs CDATA #IMPLIED
          showstereotype CDATA #IMPLIED
          showattributes CDATA #IMPLIED
          font CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          showscope CDATA #IMPLIED
          showopsigs CDATA #IMPLIED
          drawascircle CDATA #IMPLIED
>
<!ELEMENT notewidget ANY >
<!ATTLIST notewidget
          %ids;
          %coordinates;
          showstereotype CDATA #IMPLIED
          noteType CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          linecolor CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          font CDATA #IMPLIED
          text CDATA #IMPLIED
>
<!ELEMENT messages ANY >
<!ATTLIST messages
>
<!ELEMENT associations ANY >
<!ATTLIST associations
>
<!ELEMENT assocwidget ANY >
<!ATTLIST assocwidget
          %ids;
          indexa CDATA #IMPLIED
          indexb CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          widgetaid CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          linecolor CDATA #IMPLIED
          totalcounta CDATA #IMPLIED
          widgetbid CDATA #IMPLIED
          totalcountb CDATA #IMPLIED
          type CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          visibilityA CDATA #IMPLIED
          visibilityB CDATA #IMPLIED
          changeabilityA CDATA #IMPLIED
          changeabilityB CDATA #IMPLIED
          roleBdoc CDATA #IMPLIED
          roleAdoc CDATA #IMPLIED
          documentation CDATA #IMPLIED         
>
<!ELEMENT linepath ANY >
<!ATTLIST linepath
          layout CDATA #IMPLIED
>
<!ELEMENT startpoint ANY >
<!ATTLIST startpoint
          startx CDATA #IMPLIED
          starty CDATA #IMPLIED
>
<!ELEMENT endpoint ANY >
<!ATTLIST endpoint
          endx CDATA #IMPLIED
          endy CDATA #IMPLIED
          visibilityA CDATA #IMPLIED
          visibilityB CDATA #IMPLIED
          changeabilityA CDATA #IMPLIED
          changeabilityB CDATA #IMPLIED
>
<!ELEMENT floatingtext ANY >
<!ATTLIST floatingtext
          %ids;
          %coordinates;
          linecolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          showstereotype CDATA #IMPLIED
          text CDATA #IMPLIED
          font CDATA #IMPLIED
          pretext CDATA #IMPLIED
          role CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          posttext CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          roleBdoc CDATA #IMPLIED
          roleAdoc CDATA #IMPLIED
          documentation CDATA #IMPLIED
>
<!ELEMENT datatypewidget ANY >
<!ATTLIST datatypewidget
          %ids;
          %coordinates;
          showstereotype CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          linecolor CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          font CDATA #IMPLIED
>
<!ELEMENT point ANY >
<!ATTLIST point
          x CDATA #IMPLIED
          y CDATA #IMPLIED
>
<!ELEMENT enumwidget ANY >
<!ATTLIST enumwidget
          %ids;
          %coordinates;
          showstereotype CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          linecolor CDATA #IMPLIED
          showpackage CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          font CDATA #IMPLIED
>
<!ELEMENT boxwidget ANY >
<!ATTLIST boxwidget
          %ids;
          %coordinates;
          showstereotype CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          linecolor CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          font CDATA #IMPLIED
>
<!ELEMENT interfacewidget ANY >
<!ATTLIST interfacewidget
          %ids;
          %coordinates;
          linecolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          showoperations CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          showpubliconly CDATA #IMPLIED
          showpackage CDATA #IMPLIED
          showstereotype CDATA #IMPLIED
          font CDATA #IMPLIED
          drawascircle CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          showscope CDATA #IMPLIED
          showopsigs CDATA #IMPLIED
>
<!ELEMENT statewidget ANY >
<!ATTLIST statewidget
          %ids;
          %coordinates;
          linecolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          showstereotype CDATA #IMPLIED
          font CDATA #IMPLIED
          statename CDATA #IMPLIED
          statetype CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          documentation CDATA #IMPLIED
          drawvertical CDATA #IMPLIED
>
<!ELEMENT Activities ANY >
<!ATTLIST Activities
>
<!ELEMENT docsettings ANY >
<!ATTLIST docsettings
          viewid CDATA #IMPLIED
          uniqueid CDATA #IMPLIED
          documentation CDATA #IMPLIED
>
<!ELEMENT listview ANY >
<!ATTLIST listview
>
<!ELEMENT listitem ANY >
<!ATTLIST listitem
          open CDATA #IMPLIED
          type CDATA #IMPLIED
          id CDATA #IMPLIED
          label CDATA #IMPLIED
>
<!ELEMENT codegeneration ANY >
<!ATTLIST codegeneration
>
<!ELEMENT codegenerator ANY >
<!ATTLIST codegenerator
          language CDATA #IMPLIED
>
<!ELEMENT sourcecode ANY >
<!ATTLIST sourcecode
          value CDATA #IMPLIED
          id CDATA #IMPLIED
>
<!ELEMENT classifiercodedocument ANY >
<!ATTLIST classifiercodedocument
          package CDATA #IMPLIED
          fileExt CDATA #IMPLIED
          parent_class CDATA #IMPLIED
          id CDATA #IMPLIED
          fileName CDATA #IMPLIED
          writeOutCode CDATA #IMPLIED
>
<!ELEMENT textblocks ANY >
<!ATTLIST textblocks
>
<!ELEMENT codeblockwithcomments ANY >
<!ATTLIST codeblockwithcomments
          tag CDATA #IMPLIED
          text CDATA #IMPLIED
>
<!ELEMENT header ANY >
<!ATTLIST header
>
<!ELEMENT cppcodedocumentation ANY >
<!ATTLIST cppcodedocumentation
          tag CDATA #IMPLIED
          writeOutText CDATA #IMPLIED
>
<!ELEMENT hierarchicalcodeblock ANY >
<!ATTLIST hierarchicalcodeblock
          tag CDATA #IMPLIED
          canDelete CDATA #IMPLIED
          text CDATA #IMPLIED
>
<!ELEMENT codeaccessormethod ANY >
<!ATTLIST codeaccessormethod
          tag CDATA #IMPLIED
          accessType CDATA #IMPLIED
          parent_id CDATA #IMPLIED
          writeOutText CDATA #IMPLIED
          classfield_id CDATA #IMPLIED
          canDelete CDATA #IMPLIED
          indentLevel CDATA #IMPLIED
>
<!ELEMENT codeoperation ANY >
<!ATTLIST codeoperation
          tag CDATA #IMPLIED
          parent_id CDATA #IMPLIED
          canDelete CDATA #IMPLIED
>
<!ELEMENT codecomment ANY >
<!ATTLIST codecomment
          tag CDATA #IMPLIED
          text CDATA #IMPLIED
>
<!ELEMENT classfields ANY >
<!ATTLIST classfields
>
<!ELEMENT codeclassfield ANY >
<!ATTLIST codeclassfield
          role_id CDATA #IMPLIED
          listClassName CDATA #IMPLIED
          field_type CDATA #IMPLIED
          parent_id CDATA #IMPLIED
          writeOutMethods CDATA #IMPLIED
          initialValue CDATA #IMPLIED
>
<!ELEMENT ccfdeclarationcodeblock ANY >
<!ATTLIST ccfdeclarationcodeblock
          tag CDATA #IMPLIED
          parent_id CDATA #IMPLIED
          indentLevel CDATA #IMPLIED
          text CDATA #IMPLIED
          canDelete CDATA #IMPLIED
          role_id CDATA #IMPLIED
          writeOutText CDATA #IMPLIED
>
<!ELEMENT cppheaderclassdeclarationblock ANY >
<!ATTLIST cppheaderclassdeclarationblock
          tag CDATA #IMPLIED
          parent_id CDATA #IMPLIED
          canDelete CDATA #IMPLIED
          indentLevel CDATA #IMPLIED
>
<!ATTLIST cppcodedocumentation
          text CDATA #IMPLIED
          indentLevel CDATA #IMPLIED
>
<!ATTLIST hierarchicalcodeblock
          indentLevel CDATA #IMPLIED
>
<!ATTLIST codeoperation
          indentLevel CDATA #IMPLIED
>
<!ATTLIST codeaccessormethod
          role_id CDATA #IMPLIED
>
<!ATTLIST codeblockwithcomments
          writeOutText CDATA #IMPLIED
          indentLevel CDATA #IMPLIED
>
<!ELEMENT objectwidget ANY >
<!ATTLIST objectwidget
          %ids;
          %coordinates;
          linecolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          decon CDATA #IMPLIED
          showstereotype CDATA #IMPLIED
          font CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          multipleinstance CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          drawasactor CDATA #IMPLIED
>
<!ELEMENT messagewidget ANY >
<!ATTLIST messagewidget
          %ids;
          %coordinates;
          linecolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          widgetbid CDATA #IMPLIED
          textid CDATA #IMPLIED
          operation CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          seqnum CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          showstereotype CDATA #IMPLIED
          widgetaid CDATA #IMPLIED
          font CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          sequencemessagetype CDATA #IMPLIED
          xclicked CDATA #IMPLIED
          yclicked CDATA #IMPLIED          
>
<!ELEMENT actorwidget ANY >
<!ATTLIST actorwidget
          %ids;
          %coordinates;
          showstereotype CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          linecolor CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          font CDATA #IMPLIED
>
<!ELEMENT usecasewidget ANY >
<!ATTLIST usecasewidget
          %ids;
          %coordinates;
          showstereotype CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          linecolor CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          font CDATA #IMPLIED
>
<!ELEMENT packagewidget ANY >
<!ATTLIST packagewidget
          %ids;
          %coordinates;
          usesdiagramusefillcolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          linecolor CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          font CDATA #IMPLIED
          xclicked CDATA #IMPLIED
          yclicked CDATA #IMPLIED
          showstereotype CDATA #IMPLIED
>
<!ELEMENT activitywidget ANY >
<!ATTLIST activitywidget
          %ids;
          %coordinates;
          linecolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          showstereotype CDATA #IMPLIED
          font CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          activityname CDATA #IMPLIED
          postcondition CDATA #IMPLIED
          documentation CDATA #IMPLIED
          activitytype CDATA #IMPLIED
          precondition CDATA #IMPLIED
          drawvertical CDATA #IMPLIED
          type CDATA #IMPLIED
>
<!ELEMENT signalwidget ANY >
<!ATTLIST signalwidget
          %ids;
          %coordinates;
          linecolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          signaltype CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          showstereotype CDATA #IMPLIED
          font CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          signalname CDATA #IMPLIED
          documentation CDATA #IMPLIED
          textid CDATA #IMPLIED
>
<!ELEMENT regionwidget ANY >
<!ATTLIST regionwidget
          %ids;
          %coordinates;
          showstereotype CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          linecolor CDATA #IMPLIED
          regionname CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          documentation CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          font CDATA #IMPLIED
>
<!ELEMENT pinwidget ANY >
<!ATTLIST pinwidget
          %ids;
          %coordinates;
          showstereotype CDATA #IMPLIED
          widgetaid CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          linecolor CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          font CDATA #IMPLIED
>
<!ELEMENT objectnodewidget ANY >
<!ATTLIST objectnodewidget
          %ids;
          %coordinates;
          linecolor CDATA #IMPLIED
          usesdiagramfillcolor CDATA #IMPLIED
          linewidth CDATA #IMPLIED
          textcolor CDATA #IMPLIED
          usesdiagramusefillcolor CDATA #IMPLIED
          objectnodetype CDATA #IMPLIED
          showstereotype CDATA #IMPLIED
          font CDATA #IMPLIED
          objectnodestate CDATA #IMPLIED
          isinstance CDATA #IMPLIED
          usefillcolor CDATA #IMPLIED
          fillcolor CDATA #IMPLIED
          objectnodename CDATA #IMPLIED
          documentation CDATA #IMPLIED
>
<!ELEMENT objectnodename ANY >
<!ATTLIST objectnodename
          documentation CDATA #IMPLIED
          height CDATA #IMPLIED
          textid CDATA #IMPLIED
          drawas CDATA #IMPLIED
          XMI.VERSION CDATA #IMPLIED
          UML CDATA #IMPLIED
>
<!ELEMENT Artifact ANY >
<!ATTLIST Artifact
          drawas CDATA #IMPLIED
>
